#newPasswordContainer{
    display:flex;
    height: 58.8rem;
    justify-content: center;
    flex-direction: column;
}

#logoNewPasswordTitle{
    display: flex;
    justify-content: center;
    height: 7rem;
    margin-top: 2.5rem;
}

#logoNewPassword{
    height: 7rem;
}

#titleSubtitleNewPassword{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#newPasswordTitle{
    display: flex;
    align-self: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#newPasswordSubtitle{
    color: rgb(192, 190, 190);
    margin-top: -0.5rem;
}

#newPasswordData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

#newPasswordForm {
    display: flex;
    justify-self: center;
    width: 42rem;
}

#newPassword1Input, #newPassword2Input{
    margin-left: 10rem;
    margin: 1rem;
    padding: 0.5rem;
    width: 15rem;
    border: 0.2rem solid #661fdf;
    border-radius: 0.2rem;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#newPasswordButton{
    background-color: #661fdf;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
    padding: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #ffb6d0;
    align-self: center;
    transition: all ease 0.2s;
    cursor: pointer;
}

#newPasswordButton:hover{
    color: #fe83af;
}

#errorNewPassword, #errorNewPasswords {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    display: flex;
    justify-content: center;
    font-size: small;
    margin-top: 1rem;
    width: 15rem; 
}


#mapNewPassword{
    display: flex;
    height: 40rem;
    width: 76rem;
    align-self: center;
    background-image: url('../../img/1.png');
}