#friendContainer{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 0rem;
}

#friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18rem;
    width: 15rem;
    border: 0.1rem solid gray;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem black;
}

#friendHeader {
    display: flex;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
}

#borderFriendImage{
    display: flex;
    border: 0.1rem solid gray;
    border-radius: 15rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 8rem;
    width: 8rem;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}

#friendImg{
    display: flex;
    height: 8rem;
}

#userDataFriend {
    display: flex;
    height: 6rem;
    flex-direction: column;
}

#nameFriend {
    display:flex;
    margin-left: 1rem;
    align-self: center;
}
#surnamesFriend, #professionFriend {
    display:flex;
    margin-left: 1rem;
    margin-top: -1rem;
    align-self: center;
}

#professionFriend {
    display:flex;
    margin-left: 1rem;
    align-self: center;
}

#professionFriend {
    color: gray;
}

#contentHeader{
    display: flex;
    color: gray;
    font-size: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    margin-top: 1rem;
}

#friendContent{
    display: flex;
    color: black;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#friendshipRequest {
    border: none;
    background-color: white;
    border-radius: 0.5rem;
    height: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #661fdf;
    transition: all ease 0.2s;
    cursor: pointer;
}

#friendshipRequest:hover {
    color: #fe83af;
}