#pendingFriendContainer{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-right: 2rem;
}

#pendingFriend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18rem;
    width: 15rem;
    border: 0.1rem solid gray;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem black;
}

#pendingFriendHeader {
    display: flex;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
}

#borderPendingFriendImage{
    display: flex;
    border: 0.1rem solid gray;
    border-radius: 15rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 8rem;
    width: 8rem;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}

#pendingFriendImg{
    display: flex;
    height: 8rem;
}

#userDataPendingFriend {
    display: flex;
    height: 6rem;
    flex-direction: column;
}

#namePendingFriend, #surnamesPendingFriend, #professionPendingFriend {
    display:flex;
    margin-left: 1rem;
    align-self: center;
    color:rgb(78, 78, 78);
    font-size: large;
}
#surnamesPendingFriend, #professionPendingFriend {
    margin-top: -1rem;
}

#professionPendingFriend {
    display:flex;
    margin-left: 1rem;
    align-self: center;
    color: gray;
}

#pendingFriendContent{
    display: flex;
    color: black;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#acceptFriendshipRequest, #rejectFriendshipRequest {
    border: none;
    background-color: white;
    border-radius: 0.5rem;
    height: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #661fdf;
    transition: all ease 0.2s;
    cursor: pointer;
}

#acceptFriendshipRequest:hover, #rejectFriendshipRequest:hover {
    color: #fe83af;
}