#messagesWindow {
    display: flex;
    flex-direction: column;
    height: 57rem; 
    width: 75.5em;
    background-color: white;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 1rem black ;
    margin-top: 1rem; 
}

#headerMessages {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #fe83af;
}

#headerMessagesLeft {
    display: flex;
    margin-left: 2rem;
}

#searchForm {
    display: flex;
}

#searchInputMessages, #writeMessageTitle{
    display: flex;
    margin-right: 1rem;
    border: 0.2rem solid #661fdf;
    border-radius: 0.2rem;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buttonLastMessages, #friendsButton, #buttonUserDetail {
    border: none;
    background-color: white;
    border-radius: 0.5rem;
    height: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #661fdf;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-right: 1rem;
}

#buttonLastMessages:hover, #friendsButton:hover, #buttonUserDetail:hover {
    color: #09d8f8;
}

#searchButtonMessages{
    border: none;
    background-color: white;
    border-radius: 0.5rem;
    height: 3rem;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #a181d8;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-right: 1rem;
}

#searchButtonMessages:hover{
    color: #09d8f8;
}


#messagesContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 45rem;
    overflow: scroll;
}

#writeMessage {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border-top: 0.1rem solid #7deeff;
}

#writeMessageTitle, #writeMessageBody{
    display: flex;
    height: 3rem;
    width: 30rem;
    margin-left: 1rem;
    align-self: center;
    border: 0.2rem solid #661fdf;
    border-radius: 0.2rem;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#writeMessagesButton {
    border: none;
    background-color: #661fdf;
    border-radius: 0.5rem;
    height: 3rem;
    margin-top: 1rem;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #ffb6d0;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-left: 1rem;
}

#writeMessagesButton:hover{
    color: #fe83af;
}